body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f3ef;
    color: #222;
    text-align: center;
}

h1 {
    font-size: 56px;
    margin-top: 150px;
}

p {
    font-size: 20px;
}
